.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.add-media-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

.add-media-card:hover {
    background-color: #e0e0e0;
}

.add-media-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #007bff;
}

.media-files {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.media-card {
    position: relative;
    width: 350px;
    height: 250px;
    perspective: 1000px;
    transition: transform 0.5s;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.427);
}

.media-card:hover {
    transform: rotateY(10deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.638);
}

.media-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.media-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.811);
    color: #fff;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.media-card:hover .media-details {
    transform: translateY(0);
}

.media-details p {
    margin: 0;
    padding: 5px 0;
}

.media-details button {
    margin: 10px 5px 0;
}

.close-form {
    margin-left: 180px;
    color: var(--red-color);
    transform: scale(1.2);
    cursor: pointer;
}

.mat-form-field.image-input {
    border-bottom: 2px solid var(--black-icon);
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    padding: 15px 15px;
    color: #0006;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.image-preview {
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.select-file {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--red-color);
    background-color: var(--red-highlight);
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.select-file:hover {
    background-color: #ffffff;
}

.file-name {
    font-size: 12px;
width: 100%;    text-align: center;
}