.container {
  border: 2px solid #ccc; /* Border style for the container */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.card-title{
  text-align: center;
  font-weight: 900;
  font-size: large;
}

.form-group {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}
   
  .lable-spacing{
    padding-right: 150px;
  }

  .lable-spacing-mobile{
    padding-right: 65px;
  } 
.lable-spacing-password{
  padding-right: 110px;
}

.form-container{
  padding-top: 10px;
} 

.container{
  background: linear-gradient(135deg, #FFC3A0 0%, #FFAFBD 100%); /* Light pink gradient */

}
.custom-label {
  font-size: 20px; 
  opacity: 0.7;
}


.custom-title {
  font-size: 24px; 
  color: var(--red-color);
  font-weight: bold;
  text-align: center; 
  margin-bottom: 10px;
  
}


.custom-card-text {
  text-align: center; 
  color: var(--red-color);
  font-size: 18px; 
  
}



  /* Style the button */
  button {
    background-color: #010911;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }