.container {
    margin-left: 50px;
}
h1, h2 {
    text-align: center;
    margin-top: 35px;
}

.planName {
    text-align: center;
}

.horizontal {
    display: flex;
    justify-content: space-between;
}

.plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: space-between;
    margin-top: 30px;
    height: 100%;
    width: 27%;
    padding: 5px;
    /* margin-right: 20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

.starterPack {
    margin-left: 60px;
}

.plan1, .plan2, .plan3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    height: 100%;
    width: 27%;
    padding: 5px;
    margin-right: 20px;
}

.body1, .body2, .body3 {
    margin-top: 50px;
}

p {
    margin-top: 20px;
    margin-left: 20px;
}

.price {
    font-size: 36px;
    font-weight: bolder;
    margin: 5% auto;
}

li {
    margin-bottom: 10px;
}

.plandetails {
    margin: 2% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 50%;
    background-color: #f1f1f1;
    margin-left: 40px;
    display: block;
}

.myPlan {
    margin: 5% auto;
}

.mat-card-title {
    text-align: center;
    font-size: 32px;
}