<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="membership.component.css">
</head>

<body>
    <div class="container">
        <div class="myPlan" *ngIf="!alreadyPaid">
            <mat-card-title>You don't have any plan. Please buy one.</mat-card-title>
        </div>

        <div class="myPlan" *ngIf="alreadyPaid">
            <mat-card-title>My Plan Details</mat-card-title>
            <mat-card class="plandetails">
                <mat-list>
                    <mat-list-item>Plan <span>{{planPaid.planName}}</span> </mat-list-item>
                    <mat-list-item>Validity <span>{{planPaid.planDuration}}</span></mat-list-item>
                    <mat-list-item>Price <span>{{planPaid.planPrice}}</span></mat-list-item>
                    <mat-list-item>Expires on  <span>{{planPaid.expirationDate | date: 'MMMM d, y, hh:mm a' }}</span></mat-list-item>
                </mat-list>
            </mat-card>
        </div>

        <h1>Available Plans</h1>
        <div class="horizontal" fxLayout="row">
            <div class="plans" *ngFor="let plan of planList">
                <h2 class="planName">{{plan.planName | uppercase }}</h2>
                <p class="price"><span> ₹ {{plan.planPrice}}</span> per {{plan.planDuration}}</p>
                <p>Includes Gym and Cardio</p>
                <div class="body1" [title]="alreadyPaid ? 'Already have a plan' : 'Buy the Plan'">
                    <ol>
                        <li *ngFor="let desc of plan.planDescription">{{ desc }}</li>
                    </ol>
                    <button class="starterPack" *ngIf="!alreadyPaid" mat-raised-button color="warn"
                        (click)="createTransactionAnsPlaceOrder(plan)">Get Started Now</button>
                </div>
            </div>
        </div>
    </div>
</body>