<div class="items-container">
    <div class="items-list">
        <h2 class="items-list-title">Trainer List</h2>
        <div class="items-card" *ngFor="let trainer of trainerList" (click)="selectTrainer(trainer)"
            [class.selected]="trainer === selectedTrainer">
            <div class="items-card-title"> {{ trainer.trainerName }}
            </div>
            <div class="items-card-footer">
                <p class="user-info">
                    <mat-icon class="user-info-icon" title="Bio">description</mat-icon> {{ trainer.trainerBio | slice:0:50 }}{{ trainer.trainerBio.length > 50 ?
                    '...' : '' }}</p>

                <p class="orange-badge">
                    <strong>{{ trainer.trainerCategory }}</strong>
                </p>
            </div>
        </div>
        <div *ngIf="trainerList == null || trainerList.length == 0" class="item-status">
            <p> <mat-icon>search</mat-icon> No trainers available </p>
        </div>
    </div>

    <div class="items-details" *ngIf="!formMode">
        <button mat-raised-button color="warn" (click)="addTrainerForm()" class="full-width-button">
            <span class="large-bold-text">+ ADD A NEW TRAINER</span>
        </button>

        <div class="items-details-card" *ngIf="selectedTrainer && !formMode">
            <span class="item-actions" [matMenuTriggerFor]="trainerCardActionsMenu">
                <mat-icon>more_vert</mat-icon>
            </span>

            <mat-menu #trainerCardActionsMenu="matMenu" xPosition="before">
                <a mat-menu-item tabindex="0" (click)="updateTrainerForm(selectedTrainer)">
                    <mat-icon>edit</mat-icon> Edit
                </a>
                <a mat-menu-item tabindex="0" (click)="deleteTrainer(selectedTrainer.trainerId)">
                    <mat-icon>delete_forever</mat-icon> Delete
                </a>
            </mat-menu>

            <h2 class="items-title">Trainer Details</h2>
            <div class="trainer-image">
                <img [src]="selectedTrainer.trainerImage" alt="{{ selectedTrainer.trainerName }}">
            </div>
            <p class="user-info">
                <mat-icon class="user-info-icon" title="Name">person</mat-icon> {{ selectedTrainer.trainerName }}
              </p>
              <p class="user-info">
                <mat-icon class="user-info-icon" title="Category">category</mat-icon> {{ selectedTrainer.trainerCategory }}
              </p>
              <p class="user-info">
                <mat-icon class="user-info-icon" title="Bio">description</mat-icon> {{ selectedTrainer.trainerBio }}
              </p>
        </div>

    </div>

    <div class="items-details" *ngIf="formMode">
        <span class="close-form" (click)="closeForm()"><mat-icon>close</mat-icon></span>
        <h2 class="items-title">{{ updateMode ? "Update Trainer" : "Add Trainer" }}</h2>
        <form class="items-form" (submit)="updateMode ? updateTrainer() : createTrainer()">
            <mat-form-field>
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" id="name" name="name" required [(ngModel)]="newTrainerName">
            </mat-form-field>

            <div class="mat-form-field image-input">
                <mat-label for="mediaImage">Image*</mat-label> <br />
                <mat-hint class="select-file" (click)="selectImage()"> <mat-icon>upload</mat-icon> Select File</mat-hint>
                <mat-hint class="file-name">{{ selectedImageFile ? getSelectedImageName() : "No image is selected"
                    }}</mat-hint>
                <input type="file" id="mediaImage" name="mediaImage" hidden accept="image/*"
                    (change)="onImageSelect($event)">
                <div class="image-preview">
                    <img [src]="imagePreview()" *ngIf="imagePreview()" />
                </div>
            </div>


            <mat-form-field>
                <mat-label for="trainerCategory">Category</mat-label>
                <mat-select id="trainerCategory" name="trainerCategory" required [(ngModel)]="newTrainerCategory">
                    <mat-option *ngFor="let category of categoryList" [value]="category">
                        {{ category }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="trainerBio">Bio</mat-label>
                <input matInput type="text" id="trainerBio" name="trainerBio" required [(ngModel)]="newTrainerBio">
            </mat-form-field>

            <button mat-raised-button type="submit">{{ updateMode ? 'Update Trainer' : 'Create Trainer' }}</button>
        </form>
    </div>


</div>