<div class="items-container">
    <div class="items-list">
        <h2 class="items-list-title">Plan List</h2>
        <div class="items-card" *ngFor="let plan of planList" (click)="selectPlan(plan)"
            [class.selected]="plan === selectedPlan">
            <div class="items-card-title"> {{ plan.planName }}</div>
            <div class="items-card-footer">
                <p class="user-info" title="Duration">
                    <mat-icon class="user-info-icon">schedule</mat-icon> {{ plan.planDuration }}</p>
                <p class="orange-badge"><strong>₹ {{ plan.planPrice }}</strong></p>
            </div>
        </div>
        <div *ngIf="planList == null || planList.length == 0" class="item-status">
            <p> <mat-icon>search</mat-icon> No plans available </p>
        </div>
    </div>

    <div class="items-details" *ngIf="!formMode">
        <button mat-raised-button color="warn" (click)="addPlanForm()" class="full-width-button">
            <span class="large-bold-text">+ ADD A NEW PLAN</span>
        </button>

        <div class="items-details-card" *ngIf="selectedPlan && !formMode">
            <span class="item-actions" [matMenuTriggerFor]="planCardActionsMenu">
                <mat-icon>more_vert</mat-icon>
            </span>

            <mat-menu #planCardActionsMenu="matMenu" xPosition="before">
                <a mat-menu-item tabindex="0" (click)="updatePlanForm(selectedPlan)">
                    <mat-icon>edit</mat-icon> Edit
                </a>
                <a mat-menu-item tabindex="0" (click)="deletePlan(selectedPlan.planId)">
                    <mat-icon>delete_forever</mat-icon> Delete
                </a>
            </mat-menu>
            <h2 class="items-title">
                Plan Details
              </h2>
              <p class="user-info" title="Name">
                <mat-icon class="user-info-icon" >person</mat-icon> {{ selectedPlan.planName }}
              </p>
              <p class="user-info" title="Price">
                <mat-icon class="user-info-icon" >attach_money</mat-icon> ₹{{ selectedPlan.planPrice }}
              </p>
              <p class="user-info" title="Duration">
                <mat-icon class="user-info-icon">schedule</mat-icon> {{ selectedPlan.planDuration }}
              </p>
              <p class="user-info" title="Description">
                <mat-icon class="user-info-icon">description</mat-icon>
              </p>
              <div class="plan-desc">
                <p *ngFor="let desc of selectedPlan.planDescription" class="user-info">
                  <mat-icon class="user-info-icon">star</mat-icon> {{ desc }}
                </p>
              </div>

        </div>

    </div>

    <div class="items-details" *ngIf="formMode">
        <span class="close-form" (click)="closeForm()"><mat-icon>close</mat-icon></span>
        <h2 class="items-title">{{ updateMode ? 'Edit Plan' : 'Add Plan' }}</h2>
        <form class="items-form" (submit)="updateMode ? updatePlan() : createPlan()">
            <mat-form-field>
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" id="name" name="name" required [(ngModel)]="newPlanName">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="duration">Duration</mat-label>
                <mat-select id="duration" name="duration" required [(ngModel)]="newDuration">
                    <mat-option *ngFor="let duration of durationList" [value]="duration">{{duration}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="price">Price</mat-label>
                <input matInput type="number" id="price" name="price" required [(ngModel)]="newPrice">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="description">Description</mat-label>
                <input matInput type="text" id="description" name="description" [(ngModel)]="newDescription">
                <button mat-icon-button type="button" color="primary" (click)="addDescription()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </mat-form-field>

            <div class="description-list">
                <p *ngFor="let desc of newPlanDescription; let i = index">
                    {{ desc }}
                    <span class="cancel" (click)="removeDescription(i)">
                        <mat-icon>cancel</mat-icon>
                    </span>
                </p>
            </div>


            <button mat-raised-button type="submit">{{ updateMode ? 'Update Plan' : 'Create Plan' }}</button>
        </form>
    </div>
</div>
