<mat-toolbar>
    <a mat-icon-button href="/">
        <mat-icon>fitness_center</mat-icon>
    </a>
    <a href="/" class="product-title"><span>{{productTitle[0]}}</span>{{productTitle[1]}}</a>
    <span class="spacer"></span>

    <ng-container *ngIf="isLoggedIn">
        <span>{{userId}}</span>


        <img [src]="profilePic!=null&&profilePic!=''?profilePic:dummyProfilePic" class="avatar" mat-button [matMenuTriggerFor]="beforeMenu" />
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <a mat-menu-item tabindex="0" (click)="logout()">Sign Out</a>

        </mat-menu>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">

        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/registerUser">Register</a>
        <a mat-button routerLink="/login">Login</a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <!-- <mat-icon>dialpad</mat-icon> -->
              <span>About</span>
            </button>
            <button mat-menu-item>
              <!-- <mat-icon>voicemail</mat-icon> -->
              <span>Trainer</span>
            </button>
            <button mat-menu-item>
              <!-- <mat-icon>notifications_off</mat-icon> -->
              <span>Contact</span>
            </button>
            <button mat-menu-item>
                <span>Plans</span>
            </button>
          </mat-menu>
    </ng-container>
</mat-toolbar>