<nav class="navbar navbar-expand-lg navbar-light" style="position: fixed; top: 0; z-index: 10000; width: 100%; background-color:  #0d0c0c; " >
    <div class="container-fluid">
        <a mat-icon-button href="/">
            <mat-icon style="color: rgb(169, 112, 38);">fitness_center</mat-icon>
        </a>
        <a class="navbar-brand" href="#" style="color: red;"><span style="font-size: x-large; color: white;">FIT</span>Connect</a>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
        <li class="nav-item" style="color: white;">
            <button class="text-white" onclick="window.location.href='#home' ">Home</button>
        </li>
        <li class="nav-item">
            <button class="text-white" onclick="window.location.href='#about'">About</button>
        </li>
        <li class="nav-item">
            <button class="text-white" onclick="window.location.href='#trainer'">Trainer</button>
        </li>
        <li class="nav-item">
            <button class="text-white"  onclick="window.location.href='#contact'">Contact</button>
        </li>
        <li class="nav-item">
            <button class="text-white"  onclick="window.location.href='#member'">Plans</button>
        </li>
        <li class="nav-item">
            <button class="text-white"  onclick="window.location.href='#review'">Review</button>
        </li>
        
     </ul>
     
    </div>
    <button class="text-white" style="border: none; background: none; border: solid 1px black; border-radius: 30px; margin-right: 10px;">Login</button>
    <button class="text-white" style="border: none; background: none; border: solid 1px black; border-radius: 30px; margin-right: 10px;">Register</button>
</div>


</nav>
 
 <!-- Home Section ////////////////////////////////////////////////////////////////////////////////////////-->
 <section id="home">
    
<div id="carouselExample" class="carousel slide" >
    <div class="carousel-inner" style="height: 99vh;" style="overflow-x: hidden;">
        <div class="carousel-item active"style="overflow-y: hidden;">
            <img src="https://img.freepik.com/free-photo/strong-man-training-gym_1303-23478.jpg?w=2000" class="d-block w-100" style="overflow-y: hidden;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zml0bmVzc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60?w=2000" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/strong-man-training-gym_1303-23478.jpg?w=2000" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
 </section>
 
 <!-- About Section  /////////////////////////////////////////////////////////////////////-->
 <section id="about" style="padding-top: 60px;">
    <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large;  text-shadow: 5px 0px 10px black;">
        About our GYM</h1>
    <div class="image">
        <img src="https://images.unsplash.com/photo-1613845205719-8c87760ab728?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltJTIwd29ya291dHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="" width="400" height="440">
    </div>
    
    <div class="txt">

        <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">SAFE <span
                style="color: red; font-size: x-large;">BODY BUILDING</span>
            PROPER SOLUTIONS THAT SAVES OUR
            VALUEABLE TIME!</span>
        <br>
        <span>

            Are you a fitness influence r with a thriving training business,
            or is that one of your goals? This online
            fitness
            template puts you and your story first.
            The navigation bar brings visitors right to your pricing plans and
            contact page,
            and the member sign-in option gives returning customers
            a personalized experience where they can book
            classes and make
            payments.
        </span>
    </div>

 </section>
<!-- Trainer Section -->

<section id="trainer">
    <div class="container-fluid" style="padding-top: 60px;">
      <h1 style="text-align: center; margin-top: 5px; color: red; font-size: x-large; text-shadow: 5px 0px 10px black;">
        Meet our Trainers
      </h1>
      <div class="trainer1">
        <div class="card-container">
          <div class="card" *ngFor="let trainer of trainerList">
            <img [src]="trainer.trainerImage" class="card-img-top" [alt]="trainer.trainerName">
            <div class="card-body">
              <h5 class="card-title">{{ trainer.trainerName }}</h5>
              <p class="card-text">Category: {{ trainer.trainerCategory }}</p>
              <p class="card-text">Bio: {{ trainer.trainerBio }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!-- Contact Section ////////////////////////////////////////////////////////////////////////////////-->

<section id="contact" style="padding-top: 60px; ">
    <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large;  text-shadow: 5px 0px 10px black;">
        Contact Us</h1>
    <div class="box1" style="padding-bottom: 60px; ">
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationCustom01" value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form> 
    </div> 
</section> 



<!-- Membership Section ////////////////////////////////////////////////////////////////////////////////-->
<section id="member" style="padding-top: 60px; ">
    <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large;  text-shadow: 5px 0px 10px black;">
        Our Membership Plans</h1>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-4" *ngFor="let plan of planList">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="padding: 0px 0px 0px 80px;" >{{plan.planName}}</h5>
                        <h3>{{plan.planPrice}} for {{plan.planDuration}}</h3>
                            Validate for {{plan.planDuration}}.<br>
                            
                        
                        <a href="#" class="btn btn-primary">Get Started now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


 <!-- Feedback Section ////////////////////////////////////////////////////////////////////////////////////////-->

<!-- feedback 2nd///////////////////////// -->
<section id="review">
 <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large;  text-shadow: 5px 0px 10px black;">
    Review</h1><div style="margin-left: 10%; margin-right: 10%; margin-top: 50px;">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of FeedbackList" class="slide">
        <div class="card" style="width: 18rem;">
        <!-- <img src="{{ slide.img }}" alt="" class="img-style"> -->
        <div class="card-body">
   <h2 class="card-title" style="padding: 0px 0px 0px 80px;" >{{ slide.customerName }}</h2>
       
          <p class="card-text">Remark: {{ slide.feedbackRemarks }}</p>
          <p class="card-text">Description: {{ slide.feedbackDescription }}</p>
          <p class="card-text">Rating: {{ slide.ratings }}/5</p>
      
      </div>
    </div>
</div>
  </ngx-slick-carousel>
</div>
</section>
     
<!-- footer/////////////////////////////////////////////////////////// -->
<div class="container-fluid my-5 " style="width: 100%;" style="padding-top: 60px; ">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0d0c0c; width: 100%;">
        <!-- Grid container -->
        <div class="container-fluid">
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <button class="text-white" onclick="window.location.href='#home'">Home</button>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <button class="text-white" onclick="window.location.href='#about'">About</button>
   
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <button class="text-white" onclick="window.location.href='#trainer'">Trainer</button>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <button  class="text-white" onclick="window.location.href='#contact'">Contact</button>
                        </h6>
                    </div>
                   
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-5" />

            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>

                   
                </div>
            </section>
         
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://Ftconnect.com/">FITConnect.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>



