<div class="tabs" style="position: fixed; top: var(--header-height);">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#about">About</a>
        </li>
        <li class="nav-item">
            <a href="#trainer">Trainer</a>
        </li>
        <li class="nav-item">
            <a href="#contact">Contact</a>
        </li>
        <li class="nav-item">
            <a href="#member">Plans</a>
        </li>
    </ul>
</div>


<!-- Home Section ////////////////////////////////////////////////////////////////////////////////////////-->
<section id="home">

    <ngx-slick-carousel class="carousel" [config]="slickCarouselConfig">
        <div ngxSlickItem *ngFor="let image of images">
          <img src="{{ image }}" alt="Carousel Image">
        </div>
      </ngx-slick-carousel>

 
</section>

<!-- About Section  /////////////////////////////////////////////////////////////////////-->
<section id="about" style="padding-top: 60px;">
    <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large;  text-shadow: 5px 0px 10px black;">
        About our GYM</h1>
    <div class="image">
        <img src="https://images.unsplash.com/photo-1613845205719-8c87760ab728?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltJTIwd29ya291dHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
            alt="" width="400" height="440">
    </div>

    <div class="txt">

        <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">SAFE <span
                style="color: red; font-size: x-large;">BODY BUILDING</span>
            PROPER SOLUTIONS THAT SAVES OUR
            VALUEABLE TIME!</span>
        <br>
        <span>

            Are you a fitness influence r with a thriving training business,
            or is that one of your goals? This online
            fitness
            template puts you and your story first.
            The navigation bar brings visitors right to your pricing plans and
            contact page,
            and the member sign-in option gives returning customers
            a personalized experience where they can book
            classes and make
            payments.
        </span>
    </div>

</section>
<!-- Trainer Section -->

<section id="trainer">
    <div class="container-fluid" style="padding-top: 60px;">
        <h1 style="text-align: center; margin-top: 5px; color: red; font-size: x-large; text-shadow: 5px 0px 10px black;">
          Meet our Trainers
        </h1>
        <div class="trainer1">
          <div class="card-container">
            <mat-card class="card" *ngFor="let trainer of trainerList">
              <img mat-card-image class="trainer-image" [src]="trainer.trainerImage" [alt]="trainer.trainerName">
              <mat-card-content>
                <h5 class="card-title">{{ trainer.trainerName }}</h5>
                <p class="card-text">Category: {{ trainer.trainerCategory }}</p>
                <p class="card-text">Bio: {{ trainer.trainerBio }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
</section>



<!-- Contact Section ////////////////////////////////////////////////////////////////////////////////-->

<section id="contact" style="padding-top: 60px; ">
    <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large; text-shadow: 5px 0px 10px black;">
        Contact Us
      </h1>
      <div class="contact-form" style="padding-bottom: 60px;">
        <form class="row g-3" [formGroup]="contactForm">
          <div class="mb-3">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="contactForm.get('firstName').invalid && contactForm.get('firstName').touched">
                First name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastName" required>
              <mat-error *ngIf="contactForm.get('lastName').invalid && contactForm.get('lastName').touched">
                Last name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Email address</mat-label>
              <input matInput formControlName="email" type="email" placeholder="name@gmail.com" required>
              <mat-error *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="outline">
              <mat-label>Message</mat-label>
              <textarea matInput formControlName="message" rows="3" required></textarea>
              <mat-error *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched">
                Message is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Submit</button>
          </div>
        </form>
      </div>
</section>



<!-- Membership Section ////////////////////////////////////////////////////////////////////////////////-->
<section id="member" style="padding-top: 60px; ">
    <h1 style="text-align: center; margin-top: 20px; color: red; font-size: x-large;  text-shadow: 5px 0px 10px black;">
        Our Membership Plans</h1>
        <div class="container-fluid">
            <div class="row mt-3">
              <div class="col-4" *ngFor="let plan of planList">
                <mat-card class="card" style="width: 18rem;">
                  <mat-card-content>
                    <h5 class="card-title">{{plan.planName}}</h5>
                    <h3>{{plan.planPrice}} for {{plan.planDuration}}</h3>
                    Validate for {{plan.planDuration}}.<br>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button (click)="OnLogin()" color="primary">Get Started now</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
</section>


<!-- footer/////////////////////////////////////////////////////////// -->
<footer class="text-center" style="background-color: #0d0c0c; width: 100%;">
    <div class="container-fluid">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <button mat-button color="primary" routerLink="/home">Home</button>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <button mat-button color="primary" routerLink="/about">About</button>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <button mat-button color="primary" routerLink="/trainer">Trainer</button>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <button mat-button color="primary" routerLink="/contact">Contact</button>
          </h6>
        </div>
      </div>
      <hr class="my-5" />
      <div class="row d-flex justify-content-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <span class="text-white">© 2020 FITConnect.com</span>
    </div>
  </footer>