
<!-- Home Section ////////////////////////////////////////////////////////////////////////////////////////-->
<section id="home">
  <ngx-slick-carousel class="carousel" [config]="slickCarouselConfig">
    <div ngxSlickItem *ngFor="let image of images">
      <img src="{{ image }}" alt="Carousel Image">
    </div>
  </ngx-slick-carousel>
</section>
    

<!-- About Section  /////////////////////////////////////////////////////////////////////-->
<section class="section about" id="about" aria-label="about">
  <h1>About our GYM</h1>
    <div class="container">
      <div class="about-banner has-after">
        <img src="./assets/images/about-banner.png" width="660" height="648" loading="lazy" alt="about banner"
          class="w-100">

        <img src="https://images.unsplash.com/photo-1613845205719-8c87760ab728?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltJTIwd29ya291dHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" width="660" height="534" loading="lazy" aria-hidden="true"
          alt="" class="circle circle-1">
        <img src="https://images.unsplash.com/photo-1613845205719-8c87760ab728?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3ltJTIwd29ya291dHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" width="660" height="534" loading="lazy" aria-hidden="true"
          alt="" class="circle circle-2">

        <img src="./assets/images/fitness.png" width="650" height="154" loading="lazy" alt="fitness"
          class="abs-img w-100">
      </div>

      <div class="about-content">
        <!-- <p class="section-subtitle">About US</p> -->
        <h2 class="h2 section-title">Welcome To Our FITConnect Gym</h2>
        <p class="section-text">
          <span style="font-family:'Libre Baskerville', serif">SAFE <span
            style="color: red; font-size: x-large;">BODY BUILDING</span>
        PROPER SOLUTIONS THAT SAVES OUR
        VALUEABLE TIME!</span>
        </p>

        <p class="section-text">
          Are you a fitness influence r with a thriving training business,
            or is that one of your goals? This online
            fitness
            template puts you and your story first.
            The navigation bar brings visitors right to your pricing plans and
            contact page,
            and the member sign-in option gives returning customers
            a personalized experience where they can book
            classes and make
            payments.
        </p>
          <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="OnLogin()">Explore More</a>
        </div>

      </div>
  </section>
<!-- Trainer Section -->

<section id="trainer">
    <div class="container-fluid" style="padding-top: 60px;">
        <h1>
          Meet our Trainers
        </h1>
        <div class="trainer1">
          <div class="card-container">
            <mat-card class="card" *ngFor="let trainer of trainerList">
              <img mat-card-image class="trainer-image" [src]="trainer.trainerImage" [alt]="trainer.trainerName">
              <mat-card-content>
                <h5 class="card-title">{{ trainer.trainerName }}</h5>
                <p class="card-text">Category: {{ trainer.trainerCategory }}</p>
                <p class="card-text">Bio: {{ trainer.trainerBio }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
</section>

<!-- Membership Section ////////////////////////////////////////////////////////////////////////////////-->
<section id="member" style="padding-top: 60px; margin:0px 80px 80px 80px">
  <h1>Our Membership Plans</h1>
  <div class="horizontal" fxLayout="row">
      <div class="plans" *ngFor="let plan of planList">
          <h2 class="planName">{{plan.planName | uppercase }}</h2>
          <p class="price"><span>₹ {{plan.planPrice}} / {{plan.planDuration}}</span></p>
          <p>Includes Gym and Cardio</p>
          <div class="body1" title='Buy the Plan'>
                  <p class="user-info" *ngFor="let desc of plan.planDescription">
                    <mat-icon class="user-info-icon">check_circle</mat-icon> {{ desc }}</p>
              <button class="starterPack" mat-raised-button color="warn" (click)="OnRegister()">
                <mat-icon>shopping_cart</mat-icon> Get Started Now</button>
          </div>
      </div>
  </div>
</section>
     
<!-- Contact Section ////////////////////////////////////////////////////////////////////////////////-->

<section id="contact" style="padding-top: 60px; ">
  <h1>
      Contact Us
    </h1>
    <div class="row">
      <div class="column">
        <div class="contact">
          <form [formGroup]="contactForm">
            <div class="mb-3 matForm">
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="contactForm.get('firstName').invalid && contactForm.get('firstName').touched">
                  First name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3 matForm">
              <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="contactForm.get('lastName').invalid && contactForm.get('lastName').touched">
                  Last name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3 matForm">
              <mat-form-field>
                <mat-label>Email address</mat-label>
                <input matInput formControlName="email" type="email" placeholder="name@gmail.com" required>
                <mat-error *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-3 matForm">
              <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" rows="3" required></textarea>
                <mat-error *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched">
                  Message is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 submitButton">
              <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="column">
        <img src="../../../assets/images/contact.jpeg" class="center">
      </div>
    </div>
</section>


<!-- footer/////////////////////////////////////////////////////////// -->
  <footer class="text-center" style= "width: 100%; background-color: black;">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <span class="text-white">© 2023 FITConnect.com</span>
    </div>
  </footer>