.normal-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.skeleton-loader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;

}

.bar {
    height: 20px;
    border-radius: 4px;
    animation: loading 1s infinite alternate;
}

.bar1 {
    width: 100%;
}

.bar2 {
    width: 80%;
}

.bar3 {
    width: 60%;
}

.bar4 {
    width: 90%;
}

@keyframes loading {

    0%,
    100% {
        background-color: #ccc;
    }

    25%,
    75% {
        background-color: #ccccccb1;
    }

    50% {
        background-color: #cccccce0;
    }

}