<div class="items-container">
    <div class="items-list">
        <h2 class="items-list-title">User List</h2>
        <div class="items-card" *ngFor="let user of userList" (click)="selectUser(user)"
            [class.selected]="user === selectedUser">
            <div class="items-card-title">{{ user.userName }}</div>
            <div class="items-card-footer">
                <p><strong>Email:</strong> {{ user.userEmail }}</p>
                <p [class.green-badge]="user.planName" [class.red-badge]="!user.planName">
                    <strong>{{ user.planName ? 'Subscribed' : 'Not Subscribed' }}</strong>
                </p>
            </div>
        </div>
        <div *ngIf="userList == null || userList.length == 0" class="item-status">
            <p> <mat-icon>search</mat-icon> No users available </p>
        </div>
    </div>

    <div class="items-details">

        <div class="items-details-card" *ngIf="selectedUser">
            <h2 class="items-title">User Details</h2>
            <div class="user-details-header">
                <div class="profile-pic-container">
                    <img class="profile-pic" [src]="selectedUser.userProfilePicUrl" alt="Profile Picture" />
                </div>
                <h2 class="user-name">{{ selectedUser.userName }}</h2>
            </div>
            <div class="user-details-content">
                <p class="user-email"><strong>Email:</strong> {{ selectedUser.userEmail }}</p>
                <p class="user-age"><strong>Age:</strong> {{ selectedUser.userAge }}</p>
                <p class="user-mobile"><strong>Mobile:</strong> {{ selectedUser.userMobile }}</p>
                <p class="user-height"><strong>Height:</strong> {{ selectedUser.height }} cm</p>
                <p class="user-weight"><strong>Weight:</strong> {{ selectedUser.weight }} Kg</p>
                <p *ngIf="!selectedUser.planName"><strong class="red-badge">Not a Member</strong></p>
                <p *ngIf="selectedUser.planName"><strong>Plan Name:</strong> <span
                        class="orange-badge">{{
                         selectedUser.planName }}</span></p>
                <p *ngIf="selectedUser.planName"><strong>Plan Price:</strong> <span
                        class="orange-badge">{{
                         selectedUser.planPrice | currency }}</span></p>
                <p *ngIf="selectedUser.planName"><strong>Plan Duration:</strong> <span class="orange-badge">{{ selectedUser.planDuration }}</span>
                    </p>
                <p class="user-expiration"  *ngIf="selectedUser.planName"><strong>Expiration Date:</strong> <span class="red-badge">{{ selectedUser.expirationDate | date: 'MMM dd, yyyy' }}</span></p>
            </div>
        </div>

    </div>

</div>
