<div>
    <h1>Hi, </h1>
    <div class="slotdetails">
        <mat-card class="slotInfo">
            <h3>Your latest slot details</h3>
            <mat-list>
                <mat-list-item>Slot Date: </mat-list-item>
                <mat-list-item>Trainer Name: </mat-list-item>
                <mat-list-item>Slot Period: </mat-list-item>
                <mat-list-item>Slot Status: </mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card class="slotMetric">
            <h3>Slot Metrics</h3>
            <mat-list>
                <mat-list-item>Total slots booked: </mat-list-item>
                <mat-list-item>Canceled slots: </mat-list-item>
                <mat-list-item>Rescheduled slots: </mat-list-item>
                <mat-list-item>Attended slots: </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>
